@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Roboto+Slab:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.detail {
  min-height: 100vh;
  min-width: 100vh;
  background-color: #30312f;
  padding: 0px;
  margin: 0px;
  border: 0px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  min-height: 85vh;
  min-width: 120vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://res.cloudinary.com/dtrsxymgq/image/upload/v1664942743/Pokemon/blue-diagonal-anime-speed-lines-260nw-1445397173_yzmupr.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: relative;
  top: 10px;
  left: 50px;
  z-index: 1;
  padding: 0px;
  margin: 10px;
  border: 1px;
  border-radius: 25px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  min-height: 95vh;
  height: 95vh;
  min-width: 45%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("https://res.cloudinary.com/dtrsxymgq/image/upload/v1664919028/Pokemon/pokemon-1624022__340_dw8nzu.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  top: 5px;
  right: 50px;
  z-index: 0;
  padding: 0px;
  margin: 10px;
  border: 1px;
  border-radius: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.name {
  margin: 0px;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.6cm;
  font-style: italic;
  font-weight: 900;
  font-variant: small-caps;
  color: #ffd700 !important;
  font-stretch: expanded;
}

.imageDetail {
  margin: 0px;
  padding: 0px;
  width: 350px;
  height: 350px;
  float: right;
}

.imageDetail:hover {
  margin: 0px;
  padding: 0px;
  width: 370px;
  height: 370px;
  float: right;
}

.button {
  font-family: "Poppins", sans-serif;
  color: #2f253d !important;
  font-size: 25px;
  font-weight: 600;
  padding: 6px 20px;
  border-radius: 13px;
  margin: 15px;
  border: 1px solid #ffd700;
  background-color: #ffd700;
}
.button:hover {
  text-decoration: none;
  background-color: #f6da3a;
}

.itemDetail {
  text-decoration: none;
  color: #ffd700 !important;
  height: 20px;
  font-size: 0.6cm;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  padding: 0px;
}

.cargandoForm {
  min-height: 65vh;
  min-width: 100vh;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
