@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Roboto+Slab:wght@700;800&display=swap");

.detail {
  min-height: 100vh;
  min-width: 100vh;
  background-color: #fffc99;
  padding: 0px;
  margin: 0px;
  border: 0px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  min-height: 85vh;
  min-width: 120vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("https://cdn.dribbble.com/users/357655/screenshots/15228122/media/6d904bae2bec688419d90ed88fceac5f.png?compress=1&resize=320x240&vertical=top");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: relative;
  top: 10px;
  left: 50px;
  z-index: 1;

  padding: 0px;
  margin: 10px;
  border: 1px;
  border-radius: 25px;
  flex-direction: column;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  min-height: 95vh;
  height: 95vh;
  min-width: 45%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("https://cdn.dribbble.com/users/10562/screenshots/15204799/media/8cc23950f6da3ce6edebe2fd9e2101ff.jpg?compress=1&resize=320x240&vertical=top");
  background-repeat: no-repeat;

  background-position: center center;
  background-size: cover;
  position: relative;
  top: 5px;
  right: 50px;
  z-index: 0;
  padding: 0px;
  margin: 10px;
  border: 1px;
  border-radius: 15px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}

.name {
  margin: 0px;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.3cm;
  font-style: italic;
  font-weight: 800;
  font-variant: small-caps;

  color: #bcd39c !important;
  text-shadow: 1px 2px 3px rgba(20, 19, 19, 0.63);
}

.imageDetail {
  margin: 0px;
  padding: 0px;
  width: 360px;
  height: 360px;
  float: right;
}

.imageDetail:hover {
  margin: 0px;
  padding: 0px;
  width: 390px;
  height: 390px;
  float: right;
}

.button {
  font-family: "comic sans ms";
  color: #2f253d !important;
  font-size: 18px;
  text-shadow: 1px 1px 0px #99a9de;
  box-shadow: 2px 2px 2px #bee2f9;
  padding: 4px 20px;
  border-radius: 13px;
  border: 2px solid #3866a3;
  margin: 15px;
  background: linear-gradient(to top, #fffc99, #997e74);
}
.button:hover {
  color: #14396a !important;
  text-decoration: none;
  background: #997e74;
  background: linear-gradient(to top, #997e74, #fffc99);
}

.itemDetail {
  text-decoration: none;
  color: #fffc99 !important;
  text-shadow: 1px 2px 3px rgba(59, 50, 50, 0.63);

  font-size: 0.6cm;
  font-weight: 800;
  font-family: "Comic Neue", cursive;
  font-style: italic;
  padding: 0px;
}

.cargandoForm {
  text-decoration: none;
  color: #fffc99 !important;
  text-shadow: 1px 2px 3px rgba(59, 50, 50, 0.63);
  font-family: "Comic Neue", cursive;
  font-size: 0.8cm;
  font-weight: 400;
  font-style: italic;
  padding: 0px;
}
