@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.filter {
  margin: 5px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.select {
  background-color: #bcd39c;
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #676046 !important;
  font-size: 15px;
  text-shadow: 0px 0px 0px #7cacde;

  padding: 3px 12px;
  border-radius: 8px;
  border: 1px solid #676046;
}
