@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap");

.containerForm {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("https://cdn.dribbble.com/users/1771704/screenshots/6536854/both-pokeballs_4x.png?compress=1&resize=320x240&vertical=top");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.form {
  background-color: #a1af8e80;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 800px;
  height: 400px;
}

.internoForm {
  height: 400px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleForm {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.3cm;
  font-style: italic;
  font-weight: 700;
  font-stretch: expanded;
  font-variant: small-caps;
  font-stretch: expanded;
  color: #ffd700 !important;
  margin: 0px;
}

.buttonFormBack {
  margin-top: 10px;
  padding: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 3px 12px;
  border-radius: 8px;
  border: 1px solid #ffd700;
  background-color: #ffd700;
}
.buttonFormBack:hover {
  text-decoration: none;
  background-color: #f6da3a;
}

.item {
  width: 600px;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inputForm {
  margin: 5px;
  border-radius: 3px;
  background-color: rgb(160, 160, 160);
  padding: 4px;
  border: none;
  width: 200px;
}

.label {
  margin: 5px;
  padding: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ffd700 !important;
  font-size: 22px;
}

.errorForm {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: small;
  color: #c91930 !important;
}

.selectForm {
  background-color: #f6da3a;
  margin: 5px;
  padding: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #322f22 !important;
  font-size: 15px;
  width: 200px;
  padding: 3px 12px;
  border-radius: 8px;
  border: 1px solid #322f22;
}

.buttonFormSubmit {
  width: 200px;
  padding: 5px;
  margin: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding: 3px 12px;
  border-radius: 8px;
  border: 1px solid #ffd700;
  background-color: #ffd700;
}
.buttonFormSubmit:hover {
  text-decoration: none;
  background-color: #f6da3a;
}

.containerTypes {
  background-color: #a1af8e80;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  border-radius: 8px;
  padding: 2px;
  margin: 10px;
  width: 825px;
  height: 100px;
}

.types {
  margin: 0px;
  height: 30px;
  background-color: #f6da3a;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px;
  border-color: solid 3px #322f22;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #322f22 !important;
  padding: 5px;
}

.buttonTypes {
  margin: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #322f22 !important;
  font-size: 17px;
  border-radius: 25px;
  border: 1px solid #030303;
  background-color: #ffd700;
}
.buttonTypes:hover {
  color: #ffd700 !important;
  text-decoration: none;
  background-color: #030303;
}
