@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.containerForm {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("https://cdn.dribbble.com/users/1771704/screenshots/6536854/both-pokeballs_4x.png?compress=1&resize=320x240&vertical=top");
  background-repeat: no-repeat;

  background-position: center center;
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.form {
  background-color: #eafdcf80;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 700px;
}

.titleForm {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1.3cm;
  font-style: italic;
  font-weight: 700;
  font-stretch: expanded;
  font-variant: small-caps;
  font-stretch: expanded;
  color: #ffff00 !important;
  text-shadow: 5px 5px 5px rgba(9, 9, 9, 0.63);
  margin: 0px;
}

.buttonFormBack {
  margin-top: 10px;
  padding: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #676046 !important;
  font-size: 15px;
  text-shadow: 0px 0px 0px #7cacde;
  box-shadow: 0px 0px 10px #bee2f9;
  padding: 3px 12px;
  border-radius: 8px;
  border: 1px solid #676046;
  background: #294d63;
  background: linear-gradient(to top, #b1f8f2, #468ccf);
}
.buttonFormBack:hover {
  color: #676046 !important;
  text-decoration: none;
  background: linear-gradient(to top, #468ccf, #63b8ee);
}

.item {
  width: 600px;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inputForm {
  margin: 5px;
  border-radius: 3px;
  background-color: rgb(236, 244, 244);
  padding: 4px;
  border: none;
  width: 100px;
}

.label {
  margin: 5px;

  padding: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #4f4b3b !important;
  font-size: 15px;
  text-shadow: 0px 0px 0px #7cacde;
}

.errorForm {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: small;
  color: #c91930 !important;
}

.selectForm {
  background-color: #bcd39c;
  margin: 5px;
  padding: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #676046 !important;
  font-size: 15px;
  text-shadow: 0px 0px 0px #7cacde;

  padding: 3px 12px;
  border-radius: 8px;
  border: 1px solid #676046;
}

.buttonFormSubmit {
  padding: 4px;
  margin: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #676046 !important;
  font-size: 17px;
  text-shadow: 0px 0px 0px #7cacde;
  box-shadow: 0px 0px 10px #bee2f9;
  padding: 3px 12px;
  border-radius: 8px;
  border: 1px solid #676046;
  background: linear-gradient(to top, #b1f8f2, #468ccf);
}
.buttonFormSubmit:hover {
  color: #676046 !important;
  text-decoration: none;
  background: linear-gradient(to top, #468ccf, #63b8ee);
}

.containerTypes {
  background-color: #eafdcf80;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  border-radius: 8px;
  padding: 2px;
  margin: 10px;
  width: 700px;
  height: 50px;
}

.types {
  margin: 0px;
  height: 30px;
  background-color: #eafdcf;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px;
  border-color: #676046;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #676046 !important;
}

.buttonTypes {
  margin: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #676046 !important;
  font-size: 17px;
  text-shadow: 0px 0px 0px #7cacde;
  box-shadow: 0px 0px 10px #bee2f9;

  border-radius: 25px;
  border: 1px solid #676046;
  background: linear-gradient(to top, #b1f8f2, #468ccf);
}
.buttonTypes:hover {
  color: #676046 !important;
  text-decoration: none;
  background: linear-gradient(to top, #468ccf, #63b8ee);
}
