@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.searchBar {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 25px;
  margin-right: 25px;
  padding: 3px;
  margin: 3px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px;
}

.inputSearchBar {
  margin-right: 3px;
  border-radius: 3px;
  background-color: rgb(236, 244, 244);
  padding: 4px;
  border: none;
}

.buttonSearchBar {
  padding: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #676046 !important;
  font-size: 17px;
  text-shadow: 0px 0px 0px #7cacde;
  box-shadow: 0px 0px 10px #bee2f9;
  padding: 1px 12px;
  border-radius: 8px;
  border: 1px solid #676046;
  background: linear-gradient(to top, #b1f8f2, #468ccf);
}
.buttonSearchBar:hover {
  color: #676046 !important;
  text-decoration: none;
  background: linear-gradient(to top, #468ccf, #63b8ee);
}
