@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.searchBar {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 25px;
  margin-right: 25px;
  padding: 3px;
  margin: 3px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px;
}

.inputSearchBar {
  margin-right: 3px;
  border-radius: 3px;
  background-color: rgb(160, 160, 160);
  padding: 4px;
  border: none;
}

.buttonSearchBar {
  padding: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;

  font-size: 17px;

  padding: 1px 12px;
  border-radius: 8px;
  border: 1px solid #ffd700;
  background-color: #ffd700;
}
.buttonSearchBar:hover {
  text-decoration: none;
  background-color: #f6da3a;
}
