@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.landing {
  min-height: 100vh;
  min-width: 100vh;
  background-image: url("https://res.cloudinary.com/dtrsxymgq/image/upload/c_scale,h_2400,w_5000/v1664413879/Pokemon/pexels-abhishek-rana-4188296_oaqnog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 0px;
  margin: 0px;
  border: 0px;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.internoLanding {
  margin-right: 100px;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.textLanding {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  color: #078729cb !important;
  margin-top: 0px;
  margin-bottom: 70px;
  padding: 0px;
}

.titleLanding {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Shadows Into Light", cursive;
  font-size: 6.5rem;
  font-style: italic;
  font-weight: 900;
  font-variant: small-caps;
  font-stretch: expanded;
  color: #ffd700 !important;
  text-shadow: 1px 1px 8px rgba(20, 19, 19, 0.63);
}

.buttonLanding {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  background-color: #ffd700;
  border-color: #ffd700;
  border-radius: 5px;
  width: 100%;
  margin-top: 8px;
  padding: 15px;
}

.buttonLanding:hover {
  text-decoration: none;
  background: #f6da3a;
}

@media only screen and (min-width: 450px) and (max-width: 860px) {
  .landing {
    height: 100vh;
    width: 100vh;
    background-image: url("https://res.cloudinary.com/dtrsxymgq/image/upload/c_scale,h_500,w_1000/v1664413879/Pokemon/pexels-abhishek-rana-4188296_oaqnog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .textLanding {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #078729cb !important;
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 0px;
  }

  .titleLanding {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Shadows Into Light", cursive;
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    font-stretch: expanded;
    color: #ffd700 !important;
    text-shadow: 1px 1px 8px rgba(20, 19, 19, 0.63);
  }

  .buttonLanding {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    background-color: #ffd700;
    border-color: #ffd700;
    border-radius: 5px;
    width: 100%;
    margin-top: 8px;
    padding: 5px;
  }

  .buttonLanding:hover {
    text-decoration: none;
    background: #f6da3a;
  }
}

@media only screen and (min-width: 100px) and (max-width: 450px) {
  .landing {
    height: 100vh;
    width: 100vh;
    background-image: url("https://res.cloudinary.com/dtrsxymgq/image/upload/c_scale,h_1000,w_1000/v1664413879/Pokemon/pexels-abhishek-rana-4188296_oaqnog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    border: 0px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
  }

  .internoLanding {
    margin: 0px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textLanding {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #078729cb !important;
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 0px;
  }

  .titleLanding {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Shadows Into Light", cursive;
    font-size: 2.7rem;
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    font-stretch: expanded;
    color: #ffd700 !important;
    text-shadow: 1px 1px 8px rgba(20, 19, 19, 0.63);
  }

  .buttonLanding {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    background-color: #ffd700;
    border-color: #ffd700;
    border-radius: 5px;
    width: 100%;
    margin-top: 8px;
    padding: 5px;
  }

  .buttonLanding:hover {
    text-decoration: none;
    background: #f6da3a;
  }
}
