@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.paginado {
  padding: 10px;
}
.buttonPaginado {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ffd700 !important;
  font-size: 16px;
  margin: 2px;
  padding: 3px 5px;
  border-radius: 35px;
  border: 1px solid #ffd700;
  background: #060606;
}

.buttonPaginado:hover {
  background: #383203;
  text-decoration: none;
}

.buttonPaginadoSelected {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ffd700 !important;
  border: 1px solid #ffd700;
  background: #383203;
  font-size: 16px;
  margin: 2px;
  padding: 3px 5px;
  border-radius: 35px;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
}
