@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap");

.card {
  padding: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("https://res.cloudinary.com/dtrsxymgq/image/upload/c_scale,h_350,w_500/v1664919028/Pokemon/pokemon-1619924__340_x1db8e.webp");
  background-repeat: no-repeat;

  width: 215px;
  height: 320px;
  border: 1px solid gray;
  border-radius: 8px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0px;
  box-shadow: 2px 2px 3px;
  border: 0.5px gray;
  margin: 4px;
}

.titleCard {
  color: #ffd700 !important;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 0.6cm;
  margin: 0px;
  margin-top: 4px;
}

.buttonsCard {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.dates {
  text-decoration: none;
  color: #ffd700 !important;
  font-family: "Kanit", sans-serif;
  font-size: 0.4cm;
  font-weight: 50;
  margin: 0px;
  width: 100%;
  height: 100px;
}

.imageCard {
  margin: 0px;
  width: 120px;
  height: 120px;
  float: right;
}

.imageCard:hover {
  margin: 0px;
  padding: 0px;
  width: 140px;
  height: 140px;
  float: right;
}

.buttonCard {
  margin: 0px;
  margin-bottom: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 1px 10px;
  border-radius: 13px;
  border: 1px solid #ffd700;
  background-color: #ffd700;
}

.buttonCard:hover {
  text-decoration: none;
  background-color: #f6da3a;
}
